body {
  background-color: #ffb1f1;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

hai {
  font-family: "Mada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
}
