body {
  background-color: #ffb1f1;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

buh {
  padding-left: 50px;
  color: black;
  transition: 0.3s;
}

buh:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

buh:hover baiii {
  color: white;
}

buh:hover haiii {
  color: white;
  transition: 0.1s;
}

haiii {
  font-family: "Mada", sans-serif;
  font-optical-sizing: auto;
  font-size: 100px;
  font-weight: 500;
  font-style: normal;
  color: black;
  transition: 0.3s;
}

baiii {
  font-family: "Mada", sans-serif;
  font-optical-sizing: auto;
  font-size: 100px;
  font-weight: 500;
  font-style: normal;
  color: #ffb1f1;
  transition: 0.3s;
}
